
.App {
  max-width: 800px;
  margin: 0px auto;
  background: white;
  padding: 20px;
}

.flex {
  display: flex;
}

.left {
  width: 300px;
  margin-right: 50px;
}

.right { 
  width: 300px;
}

.title {
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}